<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="github-packages" value="https://nuget.pkg.github.com/localstack-dotnet/index.json" />
    </packageSources>
    <packageSourceMapping>
        <!-- All standard packages from nuget.org -->
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <!-- Only LocalStack packages from GitHub Packages -->
        <packageSource key="github-packages">
            <package pattern="LocalStack.*" />
        </packageSource>
    </packageSourceMapping>
</configuration>
