# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- /*

pool:
  name: Hosted Ubuntu 1604
steps:
- bash: 'sudo apt install nuget && mkdir ./testrunner && sudo chmod -R 777 ./testrunner && ls'
  displayName: 'Init Task'

- task: Bash@3
  displayName: 'Compile & Tests'
  inputs:
    targetType: filePath
    filePath: ./build.sh

- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'VSTest'
    testResultsFiles: './tests/LocalStack.Client.Tests/TestResults/**/*.trx'
    testRunTitle: 'LocalStack.Client.Tests'

- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'VSTest'
    testResultsFiles: './tests/LocalStack.Client.Integration.Tests/TestResults/**/*.trx'
    testRunTitle: 'LocalStack.Client.Integration.Tests'

